<footer class="site-footer">
    <div class="container">
        <p>
            <a href="https://scholar.google.com/citations?user=-8FHC20AAAAJ&hl=en" target="_blank"
                rel="noopener">Scholar</a>
            ·
            <a href="https://github.com/Ueva" target="_blank" rel="noopener">GitHub</a>
            ·
            <a href="https://www.linkedin.com/in/jb-evans/" target="_blank" rel="noopener">LinkedIn</a>
        </p>

        <p class="small">
            © {{ site.time | date: '%Y' }} {{ site.author.name | default: site.title }}
        </p>
    </div>
</footer>